<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= select("activity", "event_id", Event.all.collect {|e| [ e.name, e.id ] }, {include_blank: 'None'}) %>
  </div>
  <div class="field">
    <%= f.label :vagas %><br>
    <%= f.number_field :vagas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
