<p id="notice"><%= notice %></p>

<h1>Atividades do evento - <%= @event.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Vagas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.vagas %></td>
        <td><%= link_to 'Show', event_activity_path(@event, activity) %></td>
        <td><%= link_to 'Edit', edit_event_activity_path(@event, activity) %></td>
        <td><%= link_to 'Destroy', event_activity_path(@event, activity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_event_activity_path(@event) %>
<p><%= link_to "Inicio", root_path %></p>
