<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @activity.event.name %>
</p>

<p>
  <strong>Vagas:</strong>
  <%= @activity.vagas %>
</p>

<%= link_to 'Edit', edit_event_activity_path(@event, @activity) %> |
<%= link_to 'Back', event_activities_path(@event) %>
